@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Geologica:wght@100..900&family=Cascadia+Code&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/*
light
#ede0d4
#e6ccb2
#ddb892
#9c6644
#472d30
dark
*/
:root {
    --min-height: 600px;
}
body {  
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(237, 224, 212);
    font-family: "Atkinson Hyperlegible";
    font-size: 18px;
    color: rgb(71, 45, 48);
    width: 100vw;
    height: 100vh;
}
h1, h2, h3, h4, p, ul, menu {
    margin: 0;
}
* {
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    width: 100%;
}
select {
    font-family: 'Atkinson Hyperlegible';
    font-size: 14px;
    border: none;
    padding: 0 5px;
    border-radius: 20px;
    transition: 0.1s;
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
select:hover {
    filter: drop-shadow(0px 3px 3px rgba(71, 45, 48, 0.2));
}
select:active {
    opacity: 0.5;
    transition: 0s;
}
br {
    margin: 5px 0;
}
th {
    text-wrap: nowrap;
}


/*******************************
Special text formatting
*******************************/
code {
    font-family: 'Cascadia Code';
}
a {
    color: rgb(156, 102, 68);
    text-decoration: none;
    position: relative;
    text-wrap: nowrap;
}
a:before {
    content: '';
    background-color: rgba(221, 184, 146, 0.75);
    width: 100%;
    height: 2px;
    bottom: 1px;
    position: absolute;
    z-index: -1;
    transition: 0.2s;
}
a:active {
    color: rgb(71, 45, 48);
}
a:hover:before {
    bottom: 0;
    height: 100%;
}
a:active:before {
    transition: 0s;
    background-color: rgba(207, 119, 97, 0.75);
}
.validation-text {
    font-style: italic;
    font-family: 'DM Sans';
    font-size: 16px;
    color: rgb(255, 84, 72);
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: none;
}


/*******************************
Sidebar
*******************************/
header {
    --header-padding: 25px;
    margin: 0;
    padding: var(--header-padding);
    background-color: rgb(230, 204, 178);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: var(--min-height);
    min-width: 330px;
    max-width: 330px;
    width: 330px;
}
#sidebar-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    user-select: none;
    /* color: rgb(218, 151, 110); */
}
#sidebar-title h1 {
    line-height: 1;
    font-family: 'DM Sans';
    letter-spacing: -1.5px;
    font-size: 32px;
    color: rgb(40, 32, 110);
    font-weight: 600;
    text-wrap: nowrap;
    text-decoration: 2px underline dashed rgb(170, 169, 190);
    text-underline-offset: 5px;
}
#sidebar-title img {
    width: 36px;
    filter: drop-shadow(0px 0px 2px rgba(71, 45, 48, 0.3));
}
nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
menu {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
}
menu li {
    --text-size: 23px;
    --padding: 7.5px;
    position: relative;
    z-index: 1;
    list-style-type: none;
    font-size: var(--text-size);
    font-weight: 300;
    font-family: "Zilla Slab";
    color: rgb(156, 102, 68);
    user-select: none;
    cursor: pointer;
    line-height: 0;
    padding: var(--padding);
    width: calc(100% + var(--padding) + var(--header-padding));
    margin-left: calc(-1 * var(--padding));
    transition: 0.2s;
}
menu li:after {
    position: absolute;
    z-index: -1;
    content: '';
    display: inline-flex;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, #ddb892 70%, rgba(252, 163, 17, 0.3) 98%, #fca311 98.1%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.2s;
}

.nav-active:before {
    filter: invert(0.35) sepia(100%) saturate(150%) hue-rotate(-20deg);
}
.nav-active {
    cursor: auto;
    color: #472d30;
}
.nav-active:after {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, #ddb892 70%, rgba(252, 163, 17, 0.3) 98%, #fca311 98.1%);
    opacity: 1;
}

menu li:not(.nav-active):hover {
    color: rgb(114, 65, 53);
}
menu li:not(.nav-active):hover:before {
    filter: invert(0.4) sepia(100%) saturate(150%) hue-rotate(-20deg);
}
menu li:not(.nav-active):hover:after {
    opacity: 0.5;
    filter: brightness(80%) saturate(80%) opacity(50%);
}

menu li:not(.nav-active):active:before {
    transition: 0s;
    filter: invert(0.3) sepia(100%) saturate(150%) hue-rotate(-20deg);
}
menu li:not(.nav-active):active {
    transition: 0s;
    color: black;
    filter: brightness(80%) saturate(300%) opacity(100%);
}
menu li:not(.nav-active):active:after {
    transition: 0s;
    filter: brightness(100%) saturate(300%) opacity(100%);
}

menu li:before {
    content: '';
    /* background-color: red; */
    width: calc(0.8 * var(--text-size));
    height: calc(0.8 * var(--text-size));
    display: inline-block;
    margin-right: calc(0.4 * var(--text-size));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: invert(0.5) sepia(100%) saturate(150%) hue-rotate(-20deg);
    transition: 0.2s;
}
#nav-home:before { background-image: url('assets/icons/home-filled.svg'); }
#nav-tags:before { background-image: url('assets/icons/tag.svg'); }
#nav-bulletin:before { background-image: url('assets/icons/pin-filled.svg'); }
#nav-links:before { background-image: url('assets/icons/embed.svg'); }
#nav-images:before { background-image: url('assets/icons/image-filled.svg'); }
#nav-members:before { background-image: url('assets/icons/users.svg'); }
#nav-music:before { background-image: url('assets/icons/music-note.svg'); }
#nav-events:before { background-image: url('assets/icons/events-filled.svg'); }
#nav-faq:before { background-image: url('assets/icons/faq.svg'); }


/*******************************
Articles
*******************************/
main {
    flex-grow: 1;
    min-width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
main article {
    padding: 25px;
    display: none;
}
main article h1 {
    font-family: 'Geologica';
    font-weight: 500;
    font-size: 32px;
    letter-spacing: -1px;
    text-wrap: nowrap;
}
main article h2 {
    font-family: 'Geologica';
    color: #9a8d65;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: -1px;
}
.tab-active {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/*******************************
Input/output
*******************************/
#helper-text {
    display: none;
    color: #9c6644;
    letter-spacing: -0.5px;
}
#container-io {
    display: flex;
    gap: 10px;
    flex-direction: column;
    user-select: none;
}
#container-io-button {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
#container-io-button input {
    display: none;
}
.io-button {
    --text-size: 18px;
    display: inline-block;
    width: max-content;
    border: none;
    font-family: "DM Sans";
    font-size: var(--text-size);
    padding: 7.5px 12px;
    padding-right: 15px;
    background-color: white;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    text-wrap: nowrap;
    border-radius: var(--text-size);
}
.io-button:hover {
    background-color: #f8e9db;
}
.io-button:active {
    background-color: #d4b17c;
    transition: 0s;
}
.io-button:before {
    content: '';
    width: var(--text-size);
    height: var(--text-size);
    margin-right: calc(0.4 * var(--text-size));
    margin-bottom: calc(-0.1 * var(--text-size));
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#export-button:before { background-image: url('assets/icons/export.svg'); }
#import-button:before { background-image: url('assets/icons/import.svg'); }

#csv-to-js {
    border: 2px dashed rgba(0, 0, 0, 0.2);
}
#csv-to-js legend {
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: bold;
    font-weight: rgba(0, 0, 0, 0.5);
}
#csv-to-js div {
    display: grid;
    gap: 5px 0;
    grid-template-columns: 150px auto;
}
#csv-to-js div label {
    font-family: 'DM Sans';
}
#csv-to-js div input[type="file"] {
    font-family: 'Atkinson Hyperlegible';
    font-size: 16px;
}
#csv-to-js div input[type="file"]::file-selector-button {
    font-family: 'DM Sans';
    font-size: 16px;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    margin-right: 10px;
    padding: 0 10px;
}
#csv-to-js div input[type="file"]::file-selector-button:hover {
    background-color: #dbbca3;
}
#csv-to-js div input[type="file"]::file-selector-button:active {
    background-color: #d4b17c;
    transition: 0s;
}

#parse-data-block {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
#parse-data-validation {
    font-size: 16px;
    color: red;
}
#parse-data {
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    font-family: 'DM Sans';
    border-radius: 10px;
    background-color: white;
    transition: 0.1s;
    cursor: pointer;
}
#parse-data:hover {
    background-color: #dbbca3;
}
#parse-data:active {
    background-color: #d4b17c;
    transition: 0s;
}


/*********************************************************************
Tags tab
*********************************************************************/
#section-tag-colour {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
#section-tag-colour ul {
    list-style: none;
    padding-left: 0;
}

#tag-colour-widget {
    display: flex;
    flex-direction: column;
}
#colour-widget-mode {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#colour-widget-mode li {
    flex-grow: 1;
    text-align: center;
    font-family: 'DM Sans';
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    user-select: none;
    transition: 0.1s;
}
#colour-widget-mode li:not(.colour-widget-mode-active):hover {
    opacity: 0.5;
}
#colour-widget-mode li:not(.colour-widget-mode-active):active {
    opacity: 0.2;
    transition: 0s;
}
#colour-widget-mode li:not(.colour-widget-mode-active) {
    cursor: pointer;
}
.colour-widget-mode-active {
    font-weight: bold;
    background-color: white !important;
    border-style: inset;
    border: none;
    border-bottom: 5px solid #ffd966ff;
}
#colour-widget-picker {
    position: relative;
    cursor: crosshair;
    aspect-ratio: 1;
    background: linear-gradient(transparent, black),
                linear-gradient(to right, white, transparent),
                rgb(255, 0, 0);
}
#colour-widget-picker-circle, #colour-widget-hue-circle {
    --size: 10px;
    border: 2px solid white;
    border-radius: 50%;
    width: var(--size);
    aspect-ratio: 1;
    margin-left: calc(-0.5 * var(--size));
    margin-top: calc(-0.5 * var(--size));
    mix-blend-mode: difference;
    position: absolute;
}
#colour-widget-hue {
    position: relative;
    z-index: 2;
    cursor: crosshair;
    width: 100%;
    height: 10px;
    background-image: linear-gradient(in hsl longer hue to right, red 0 100%);
}
#colour-widget-hue-circle {
    margin-top: 0;
}
#colour-widget-text, #colour-widget-gradient-button {
    padding: 0 15px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}
#colour-widget-gradient-button {
    display: none;  /* toggles to flex */
}
#colour-widget-gradient-swap {
    background-image: url('assets/icons/swap.svg');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1;
}
#colour-widget-text {
    padding-top: 15px;
    padding-bottom: 15px;  /* toggles to 5px */
}
#colour-widget-text input {
    font-family: 'Atkinson Hyperlegible';
    font-size: 16px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 3px 5px;
}
#colour-widget-rgb {
    width: 150px;
}
#colour-widget-hex {
    width: 90px;
}
#colour-widget-gradient-button {
    padding-bottom: 15px;
}
#colour-widget-gradient-button button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: white;
    font-size: 16px;
    padding: 3px 10px;
    font-family: 'DM Sans';
    transition: 0.2s;
}
#colour-widget-gradient-button button:not(.colour-widget-gradient-button-active) {
    cursor: pointer;
}
#colour-widget-gradient-button button:not(.colour-widget-gradient-button-active):hover {
    opacity: 0.6;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.3));
}
#colour-widget-gradient-button button:not(.colour-widget-gradient-button-active):active {
    border: 1px solid rgba(0, 0, 0, 0.6);
    opacity: 0.3;
    transition: 0s;
}
.colour-widget-gradient-button-active {
    border: 2px solid black !important;
    font-weight: 600;
}

#tag-previews-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom in oklab, #1f125a, #351c75);
    gap: 25px;
    padding: 25px;
    height: fit-content;
}
.tag-previews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    align-content: flex-start;
}
.tag-previews li {
    font-family: 'DM Sans';
    background-color: rgb(100, 100, 100);
    color: white;
    padding: 2px 10px;
    border-radius: 15px;
    letter-spacing: -0.5px;
    transition: 0.2s;
    user-select: none;
}
.tag-previews li:not(.tag-preview-active) {
    cursor: pointer;
}
.tag-previews li:not(.tag-preview-active):hover {
    filter: drop-shadow(0 0 3px rgba(185, 198, 255, 0.6));
    opacity: 0.6;
}
.tag-previews li:not(.tag-preview-active):active {
    filter: drop-shadow(0 0 3px rgba(185, 198, 255, 0.8));
    opacity: 0.3;
    transition: 0s;
}
.tag-preview-active {
    box-shadow: 0 2px 0 white, 0 -2px 0 white, 2px 0 0 white, -2px 0 0 white;
    font-weight: 600;
}


/*********************************************************************
Table
*********************************************************************/
.table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}
.table-toolbar {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.table:not(#table-upcoming-events) > div {
    overflow: auto;
}
.table > div > table > thead {
    position: sticky;
    top: 0;
}
.table-toolbar li {
    background-color: white;
    height: 25px;
    aspect-ratio: 1;
    border-radius: 5px;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
    cursor: pointer;
}
.table-toolbar li:not(.table-toolbar-disabled):hover {
    background-color: rgba(194, 166, 158, 0.7);
}
.table-toolbar li:not(.table-toolbar-disabled):active {
    transition: 0s;
    background-color: rgba(144, 87, 85, 0.7);
}
.table-toolbar-disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.table-toolbar-add { background-image: url('assets/icons/add.svg'); }
.table-toolbar-remove { background-image: url('assets/icons/remove.svg'); }
.table-toolbar-copy { background-image: url('assets/icons/copy.svg'); }
.table-toolbar-move-up, .table-toolbar-move-down { background-image: url('assets/icons/arrow-up.svg'); }
.table-toolbar-move-down { transform: rotate(180deg); }
.table-toolbar-move-top, .table-toolbar-move-bottom { background-image: url('assets/icons/arrow-top.svg'); }
.table-toolbar-move-bottom { transform: rotate(180deg); }

.cell-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.cell-details p {
    font-size: 14px;
    text-align: right;
    width: fit-content;
    text-wrap: balance;
}
.cell-details span {
    text-wrap: nowrap;
}
.cell-details .count {
    color: rgb(138, 109, 243);
}
.cell-details-button {
    height: 18px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.1s;
}
.cell-details-button-disabled {
    cursor: not-allowed;
    opacity: 0.2;
}
.cell-details-button:not(.cell-details-button-disabled):hover {
    opacity: 0.7;
}
.cell-details-button:not(.cell-details-button-disabled):active {
    opacity: 1;
    transition: 0s;
}

.table thead tr {
    background-color: rgba(240, 234, 227, 0.9);
}
.table tbody tr th:first-child, .table tbody tr td:first-child {
    background-color: rgba(255, 255, 255, 0.3);
}
.subtable tbody tr td:first-child {
    background-color: unset;
}
.table th {
    font-family: 'DM Sans';
    font-weight: normal;
    color: rgb(153, 153, 153);
    padding: 5px 10px;
}
.table td {
    padding: 3px 10px;
}

/* Ensure sticky table header is higher than other rows */
.table > div > table {
    z-index: 0;
}
.table > div > table > thead {
    z-index: 1;
}
.table table input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
.table table input[type="date"] {
    margin: 0 5px;
}
.table tbody tr {
    transition: 0.1s;
    text-align: center;
}
.table > div > table > tbody > tr:hover {
    background-color: rgba(122, 95, 32, 0.1);
}
.table > div > table > tbody > tr:active:is(
  :not(:has(td:not(:first-child):active)),  /* First TD inside the TR */
  :has(.subtable:active):not(:has(.datalist:active))  /* Anything in .subtable but not in .datalist - for subtables */
) {
    transition: 0s;
    background-color: rgba(40, 22, 4, 0.1);
}

.table table tbody tr td:first-child,
.table table thead tr th:first-child {
    width: 50px;
}
.subtable table tbody tr td:first-child,
.subtable table thead tr th:first-child {
    width: unset;
}

.subtable-container {
    padding: 5px !important;
}
.subtable {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding-left: 5px;
}
.subtable .cell-details {
    justify-content: normal;
}


/*********************************************************************
Inputs
*********************************************************************/
.table-toolbar-search-container {
    flex-grow: 1;
    background-color: unset !important;
    cursor: auto !important;
    display: flex;
    justify-content: flex-end;
}
.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 2px !important;
    height: 25px;
    position: relative;
}
.input img {
    opacity: 0.5;
    height: 100%;
    height: 15px;
    margin-left: 2px;
}
.input-plus {
    cursor: pointer;
    transition: 0.2s;
}
.input-plus:hover {
    opacity: 0.3;
}
.input-plus:active {
    transition: 0s;
    opacity: 0.2;
}
.input input {
    font-family: 'Atkinson Hyperlegible';
    border: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    flex-grow: 1;
    outline: none;
}
.input input::placeholder {
    font-style: italic;
    color: rgba(0, 0, 0, 0.3);
}
.input div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 3px;
}

.input-season {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.input-season .input input {
    width: 45px;
}
.input-year {
    text-align: center;
}

.input-suggestions {
    top: 25px;
    left: 0;
    list-style: none;
    padding-left: 0;
    display: none;  /* toggles to flex */
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    background-color: white;
    min-width: 100%;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.1));
    z-index: 2;
}
.input-suggestions:empty {
    border: none;
}
.input-suggestions li {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    background-color: unset !important;
    cursor: pointer;
    transition: 0.1s;
    padding: 4px 6px !important;
    justify-content: space-between;
    user-select: none;
    border-radius: 0 !important;
    text-align: left;
    letter-spacing: -0.5px;
    line-height: 1;
    word-break: break-word;
}
.input-suggestions li span:last-child {
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
}
.input-suggestions li:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.input-suggestions li:active {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(92, 87, 26, 0.2) !important;
    transition: 0s;
}
.input-suggestions li span em {
    text-wrap: nowrap;
    font-style: normal;
}
.input-suggestions li span em:last-child {
    opacity: 0.66;
}
.input-suggestions-hidden {
    display: none;
}

input[type="date"], input[type="datetime-local"] {
    font-family: 'Atkinson Hyperlegible';
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    padding: 0px 5px;
    background-color: transparent;
}
input[type="date"] {
    width: 115px;
}
input[type="datetime-local"] {
    width: 185px;
}


/*********************************************************************
Datalist tags
*********************************************************************/
.taglist {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}
.taglist li {
    background-color: rgb(251, 109, 109);
    padding: 2px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}
.taglist-id, .taglist-id-link {
    color: rgb(156, 8, 8);
    font-size: 12px;
}
.taglist-id {
    user-select: none;
}
.taglist-add {
    border-radius: 12px;
    transition: 0.1s;
    opacity: 0.8;
    background-color: unset !important;
    cursor: pointer;
    aspect-ratio: 1;
}
.taglist-add:not(.taglist-add-clicked):hover {
    opacity: 0.5;
}
.taglist-add:not(.taglist-add-clicked):active {
    transition: 0s;
    opacity: 0.2;
}

.taglist-add-clicked {
    cursor: auto;
    opacity: 1;
}

.taglist-add input {
    display: none;
}
.taglist-add-clicked input {
    display: unset;
}

.taglist-add img {
    margin-left: 1px !important;
}
.taglist-add-clicked img {
    margin-left: 2px !important;
}

.tag-custom {
    background-color: unset !important;
    border-style: inset;
    height: 24px;
    border: 2px solid black;
}


/*********************************************************************
Table customization
*********************************************************************/
#table-events > div,
#table-faq > div,
#table-music > div,
#table-members > div {
    max-height: calc(100vh - 140px);
}

/* Fix show/hide icon appearing on top of suggestion list */
#table-music .subtable-row {
    position: relative;
    z-index: 2;
}

#table-events .subtable {
    padding: 5px 10px;
    flex-direction: column;
    align-items: normal;
}

#table-announcements tbody tr td:last-child,
#table-announcements thead tr th:last-child,
#table-upcoming-events tbody tr td:last-child,
#table-upcoming-events thead tr th:last-child,
#table-music tbody tr td:last-child,
#table-music thead tr th:last-child,
#table-events tbody tr td:last-child,
#table-events thead tr th:last-child,
#table-faq tbody tr td:last-child,
#table-faq thead tr th:last-child {
    text-align: left;
}

#table-members tbody tr td:nth-child(5) .cell-details,
#table-members tbody tr td:nth-child(6) .cell-details,
#table-music tbody tr td:nth-child(6) .cell-details {
    justify-content: flex-end;
}

#table-music > div > table > tbody > tr:not(.subtable-row) > td:last-child,
#table-events > div > table > tbody > tr:not(.subtable-row) > td:last-child {
    white-space: nowrap;
    overflow: hidden;
    max-width: 0px;
}

.table-announcements-icon {
    height: 40px;
    cursor: pointer;
    user-select: none;
    transition: 0.1s;
}
.table-announcements-icon:hover {
    opacity: 0.6;
}
.table-announcements-icon:active {
    opacity: 0.2;
    transition: 0s;
}
.table-faq-q {
    color: #3c78d8;
    margin-bottom: 10px;
}
#table-announcements thead tr th:nth-child(3) { min-width: 200px; }

#table-upcoming-events thead tr th:nth-child(2),
#table-upcoming-events thead tr th:nth-child(4) { min-width: 150px; }
#table-upcoming-events thead tr th:nth-child(3) { min-width: 200px; }

#table-members thead tr th:nth-child(6) { min-width: 150px; }
#table-members thead tr th:nth-child(3),
#table-members thead tr th:nth-child(4) { min-width: 125px; }
#table-members thead tr th:nth-child(5) { min-width: 300px; }

#table-members > div > table > thead > tr:not(.subtable-row) th:nth-child(2),
#table-members > div > table > tbody > tr:not(.subtable-row) td:nth-child(2),
#table-music > div > table > thead > tr:not(.subtable-row) th:nth-child(2),
#table-music > div > table > thead > tr:not(.subtable-row) th:nth-child(3),
#table-music > div > table > thead > tr:not(.subtable-row) th:nth-child(4),
#table-music > div > table > tbody > tr:not(.subtable-row) td:nth-child(2),
#table-music > div > table > tbody > tr:not(.subtable-row) td:nth-child(3),
#table-music > div > table > tbody > tr:not(.subtable-row) td:nth-child(4) {
    min-width: 150px;
    max-width: min(20vw, 200px);
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}
#table-members > div > table > tbody > tr:not(.subtable-row) td:nth-child(2):focus,
#table-music > div > table > tbody > tr:not(.subtable-row) td:nth-child(2):focus,
#table-music > div > table > tbody > tr:not(.subtable-row) td:nth-child(3):focus,
#table-music > div > table > tbody > tr:not(.subtable-row) td:nth-child(4):focus {
    white-space: normal;
}

#table-music thead tr th:nth-child(6),
#table-music tbody tr td:nth-child(6) { max-width: 200px; }

#table-events thead tr th:nth-child(3),
#table-events thead tr th:nth-child(4) { min-width: 150px; }
#table-events thead tr th:nth-child(5) { min-width: 260px; }


/*********************************************************************
Datalist
*********************************************************************/
.datalist {
    width: 100%;
    font-size: 16px;
}
.datalist tbody {
    position: relative;
    z-index: 0;
}
.datalist tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.3);
}
.datalist tr td {
    padding: 5px 10px;
    text-align: left;
}
.datalist tr td:first-child {
    text-wrap: nowrap;
}
.datalist tr:first-child td:last-child {
    border-radius: 0 15px 0 0;
}
.datalist tr:last-child td:last-child {
    border-radius: 0 0 15px 0;
}
.datalist tr td:nth-child(odd) {
    color: #999999;
    font-family: 'DM Sans';
}
.subtable .datalist tr td:first-child {
    width: 125px;
}


/*********************************************************************
Bulletin page
*********************************************************************/
#tab-bulletin h2:not(:first-of-type) {
    margin-top: 20px;
}
#datalist-current-event tr td:nth-child(2) {
    border-right: 15px solid rgb(237, 224, 212);
}

#current-event-description-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 16px;
}
.current-event-description {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
}
.current-event-description h3 {
    font-weight: normal;
    font-family: 'DM Sans';
    font-size: 18px;
    color: #999999;
    margin-bottom: 10px;
}


/*********************************************************************
Modals
*********************************************************************/
#modal-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    transition: 0.1s;
    cursor: pointer;
    backdrop-filter: blur(3px);   
}
#modal-container:hover:not(:has(*:hover)) {
    backdrop-filter: blur(1px);
}
#modal-member-tags {
    display: none;
}
#modal-member-links {
    display: none;
}
#modal-performance-performers {
    display: none;
}
#modal-concert-setlist {
    display: none;
}
.modal {
    cursor: auto;
    position: absolute;
    background-color: white;
    padding: 15px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    min-width: 500px;
    max-width: min(1000px, calc(100% - 100px));
    max-height: calc(100% - 100px);
}
.modal h2 {
    font-family: 'DM Sans';
}
.modal h2 span {
    font-weight: 400;
}

.modal-action-buttons {
    display: flex;
    list-style: none;
    padding-left: 0;
    width: 100%;
    gap: 15px;
    font-size: 16px;
}
.modal-action-buttons li {
    flex-grow: 1;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: gray;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    transition: 0.1s;
    user-select: none;
    cursor: pointer;
}
.modal-action-buttons li:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}
.modal-action-buttons li:active {
    transition: 0s;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.2); 
}

.x-button {
    height: 13px;
    transform: rotate(45deg);
    user-select: none;
    cursor: pointer;
    transition: 0.1s;
    opacity: 1;
}
.x-button:hover {
    opacity: 0.5;
}
.x-button:active {
    opacity: 0.2;
    transition: 0s;
}


/*********************************************************************
Modal datalist
*********************************************************************/
.modal-datalist-container {
    width: 100%;
    overflow-y: auto;
    flex-grow: 1;
    font-size: 16px;
}
.modal-datalist-preview {
    opacity: 0.5;
}
.modal-datalist-preview td:first-child img {
    display: none;
}
.modal-datalist td {
    padding: 5px 10px;
}
.modal-datalist tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

#datalist-modal-member-links tr td:last-child {
    color: #999999;
} 


/*********************************************************************
Modal setlist
*********************************************************************/
#concert-setlist-types {
    list-style: none;
    display: flex;
    padding-left: 0;
    flex-direction: row;
}
#concert-setlist-types li {
    width: 50%;
    text-align: center;
    font-family: 'DM Sans';
    transition: 0.1s;
    user-select: none;
}
#concert-setlist-types li:not(.concert-setlist-types-active) {
    cursor: pointer;
}
#concert-setlist-types li:not(.concert-setlist-types-active):hover {
    opacity: 0.5;
}
#concert-setlist-types li:not(.concert-setlist-types-active):active {
    opacity: 0.2;
    transition: 0s;
}
#concert-setlist-video {
    display: none;  /* toggles to flex */
}
.concert-setlist-timestamp {
    display: none;
}
.concert-setlist-types-active {
    font-weight: bold;
    border-style: inset;
    border: none;
    border-bottom: 5px solid #ffd966ff;
}

.setlist-id {
    display: none;
}

.draggable-list-container {
    width: 100%;
    overflow-y: auto;
}
.draggable-list tr td:nth-child(1) img {
    pointer-events: none;
}
.draggable-list tr:nth-child(odd) {
    background-color: rgb(243, 243, 243);
}
.draggable-list tr td:nth-child(1) {
    width: 30px;
    cursor: grab;
    user-select: none;
    transition: 0.1s;
}
.draggable-list tr td:nth-child(1):hover {
    opacity: 0.5;
}
.draggable-list tr td:nth-child(1):active {
    opacity: 0.2;
    cursor: grabbing;
}
.draggable-list tr td:nth-child(2) {
    width: 40px;
    color: rgb(177, 177, 177);
    text-align: center;
}
.draggable-list tr td:last-child {
    width: 60px;
    text-align: right;
    padding: 5px 10px;
}
.draggable-list td {
    padding: 5px;
}
.draggable-list img {
    height: 14px;
}
.draggable-list-active {
    opacity: 0.5;
}
.draggable-list-destination {
    border-style: inset;
    border: 1px solid black;
}