@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Geologica:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/*
light
#ede0d4
#e6ccb2
#ddb892
#9c6644
#472d30
dark
*/
:root {
    --min-height: 600px;
}
body {  
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(237, 224, 212);
    font-family: "Atkinson Hyperlegible";
    font-size: 18px;
    color: rgb(71, 45, 48);
    width: 100vw;
    height: 100vh;
}
h1, h2, h3, h4, p, ul, menu {
    margin: 0;
}
* {
    box-sizing: border-box;
}

/*******************************
Special text formatting
*******************************/
.code {
    font-family: 'Cascadia Code';
}
a {
    color: rgb(156, 102, 68);
    text-decoration: none;
    position: relative;
    text-wrap: nowrap;
}
a:before {
    content: '';
    background-color: rgba(221, 184, 146, 0.75);
    width: 100%;
    height: 2px;
    bottom: 1px;
    position: absolute;
    z-index: -1;
    transition: 0.2s;
}
a:active {
    color: rgb(71, 45, 48);
}
a:hover:before {
    bottom: 0;
    height: 100%;
}
a:active:before {
    transition: 0s;
    background-color: rgba(207, 119, 97, 0.75);
}


/*******************************
Sidebar
*******************************/
header {
    --header-padding: 25px;
    margin: 0;
    padding: var(--header-padding);
    background-color: rgb(230, 204, 178);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: var(--min-height);
}
#sidebar-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    user-select: none;
    /* color: rgb(218, 151, 110); */
}
#sidebar-title h1 {
    line-height: 1;
    font-family: 'DM Sans';
    letter-spacing: -1.5px;
    font-size: 32px;
    color: rgb(40, 32, 110);
    font-weight: 600;
    text-wrap: nowrap;
    text-decoration: 2px underline dashed rgb(170, 169, 190);
    text-underline-offset: 5px;
}
#sidebar-title img {
    width: 36px;
    filter: drop-shadow(0px 0px 2px rgba(71, 45, 48, 0.3));
}
nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
menu {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
}
menu li {
    --text-size: 23px;
    --padding: 7.5px;
    position: relative;
    z-index: 1;
    list-style-type: none;
    font-size: var(--text-size);
    font-weight: 300;
    font-family: "Zilla Slab";
    color: rgb(156, 102, 68);
    user-select: none;
    cursor: pointer;
    line-height: 0;
    padding: var(--padding);
    width: calc(100% + var(--padding) + var(--header-padding));
    margin-left: calc(-1 * var(--padding));
    transition: 0.2s;
}
menu li:after {
    position: absolute;
    z-index: -1;
    content: '';
    display: inline-flex;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, #ddb892 70%, rgba(252, 163, 17, 0.3) 98%, #fca311 98.1%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.2s;
}

.nav-active:before {
    filter: invert(0.35) sepia(100%) saturate(150%) hue-rotate(-20deg);
}
.nav-active {
    cursor: auto;
    color: #472d30;
}
.nav-active:after {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, #ddb892 70%, rgba(252, 163, 17, 0.3) 98%, #fca311 98.1%);
    opacity: 1;
}

menu li:not(.nav-active):hover {
    color: rgb(114, 65, 53);
}
menu li:not(.nav-active):hover:before {
    filter: invert(0.4) sepia(100%) saturate(150%) hue-rotate(-20deg);
}
menu li:not(.nav-active):hover:after {
    opacity: 0.5;
    filter: brightness(80%) saturate(80%) opacity(50%);
}

menu li:not(.nav-active):active:before {
    transition: 0s;
    filter: invert(0.3) sepia(100%) saturate(150%) hue-rotate(-20deg);
}
menu li:not(.nav-active):active {
    transition: 0s;
    color: black;
    filter: brightness(80%) saturate(300%) opacity(100%);
}
menu li:not(.nav-active):active:after {
    transition: 0s;
    filter: brightness(100%) saturate(300%) opacity(100%);
}

menu li:before {
    content: '';
    /* background-color: red; */
    width: calc(0.8 * var(--text-size));
    height: calc(0.8 * var(--text-size));
    display: inline-block;
    margin-right: calc(0.4 * var(--text-size));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: invert(0.5) sepia(100%) saturate(150%) hue-rotate(-20deg);
    transition: 0.2s;
}
#nav-home:before { background-image: url('assets/icons/home.png'); }
#nav-announcements:before { background-image: url('assets/icons/announcements.png'); }  /* https://www.flaticon.com/free-icon/megaphone_7729329 */
#nav-members:before { background-image: url('assets/icons/person.png'); }  /* https://www.flaticon.com/free-icon/profile_3106921 */
#nav-subgroups:before { background-image: url('assets/icons/bigsubgroups.png'); }
#nav-large-ensemble:before { background-image: url('assets/icons/song suggestion.png'); }
#nav-small-ensemble:before { background-image: url('assets/icons/small ensemble.png'); }
#nav-concerts:before { background-image: url('assets/icons/mic.png'); }  /* https://www.flaticon.com/free-icon/microphone_3472711 */
#nav-resource-links:before { background-image: url('assets/icons/resources.png'); }  /* https://www.flaticon.com/free-icon/link_154843 */
#nav-embeds:before { background-image: url('assets/icons/embeds.png'); }  /* https://www.flaticon.com/free-icon/external-link_7268615 */
#nav-documents:before { background-image: url('assets/icons/forms.png'); }  /* https://www.flaticon.com/free-icon/form_6868789 */
#nav-faq:before { background-image: url('assets/icons/faq.png'); }  /* https://www.flaticon.com/free-icon/faq_10042848 */


/*******************************
Articles
*******************************/
main {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
main article {
    padding: 25px;
    display: none;
}
main article h1 {
    --text-size: 32px;
    font-family: 'Geologica';
    font-size: var(--text-size);
    position: relative;
    margin-bottom: calc(0.3 * var(--text-size));
    text-wrap: nowrap;
}
main article h1:after {
    position: absolute;
    content: '';
    display: 'inline-block';
    width: 100%;
    height: 2px;
    background-color: #9c6644;
    border-radius: 1px;
    left: 0;
    top: calc(1.3 * var(--text-size));
}
.tab-active {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/*******************************
Input/output
*******************************/
.container-io {
    display: flex;
    gap: 10px;
    flex-direction: column;
    user-select: none;
}
.container-io p {
    color: #9c6644;
}
.container-io-button {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.container-io-button input {
    display: none;
}
.io-button {
    --text-size: 18px;
    display: inline-block;
    width: max-content;
    border: none;
    font-family: "DM Sans";
    font-size: var(--text-size);
    padding: 7.5px 12px;
    padding-right: 15px;
    background-color: white;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    text-wrap: nowrap;
    border-radius: var(--text-size);
}
.io-button:hover {
    background-color: #f8e9db;
}
.io-button:active {
    background-color: #d4b17c;
    transition: 0s;
}
.io-button:before {
    content: '';
    width: var(--text-size);
    height: var(--text-size);
    margin-right: calc(0.4 * var(--text-size));
    margin-bottom: calc(-0.1 * var(--text-size));
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#download-button:before { background-image: url('assets/icons/download.png'); }  /* https://www.flaticon.com/free-icon/download_724933 */
#upload-button:before { background-image: url('assets/icons/upload.png'); }


/*******************************
FAQ table
*******************************/
.faq-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: calc(max(100vh, var(--min-height)) - 150px);
    overflow-y: auto;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
}
.faq-item {
    --faq-item-padding: 10px;
}
.faq-question {
    background-color: #f5f5ef;
    transition: 0.2s;
}
.faq-question:hover {
    background-color: white;
}
.faq-answer {
    background-color: #f0e8d9;
    color: #8a593a;
    transition: 0.2s;
}
.faq-answer:hover {
    background-color: #ffe9d5;
}

.editable-text {
    /* padding: var(--faq-item-padding); */
    flex-grow: 1;
    word-break: break-word;
}
.editable-text p {
    font-family: "Atkinson Hyperlegible";
    font-size: 18px;
    margin: 0;
    padding: var(--faq-item-padding);
    border: none;
    outline: none;
    width: 100%;
    display: block;
}


/*******************************
Checkbox
*******************************/
.checkbox {
    display: inline-block;
    margin: var(--faq-item-padding);
    margin-top: calc(var(--faq-item-padding) * 1.1);
    margin-right: 0;
    width: 18px;
    height: 18px;
    min-width: 18px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><rect x="1.5" y="1.5" width="27" height="27" stroke="white" fill="none" stroke-width="3" rx="3" ry="3" /></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: invert(0.75);
    transition: 0.15s;
    cursor: pointer;
}
.checkbox:hover {
    filter: invert(0.5);
}
.checkbox:active {
    transition: 0s;
    filter: invert(0.3);
}
.checkbox-checked {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><rect x="1.5" y="1.5" width="27" height="27" stroke="white" fill="none" stroke-width="3" rx="3" ry="3" /><line x1="8" y1="8" x2="22" y2="22" stroke="gray" stroke-width="3" stroke-linecap="round" /><line x1="8" y1="22" x2="22" y2="8" stroke="gray" stroke-width="3" stroke-linecap="round" /></svg>');
}


/*******************************
Action bar
*******************************/
.actions-bar {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    user-select: none;
    flex-wrap: wrap;
}
.actions-bar li {
    --text-size: 16px;
    position: relative;
    color: #5a393d;
    border: 1.5px solid #5a393d;
    padding: 3px 10px;
    padding-left: calc(var(--text-size) + 10px);
    border-radius: 3px;
    transition: 0.2s;
    font-family: 'DM Sans';
    font-size: var(--text-size);
    cursor: pointer;
    text-wrap: nowrap;
}
.actions-bar li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.actions-bar li:active {
    transition: 0s;
    background-color: rgba(0, 0, 0, 0.1);
    filter: invert(0.5) brightness(1.1) sepia(100%) saturate(200%) brightness(0.7) hue-rotate(180deg);
}
.actions-bar li:before {
    content: '';
    position: absolute;
    display: 'inline-block';
    left: 5px;
    top: 5px;
    width: var(--text-size);
    height: var(--text-size);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.actions-move-down:before, .actions-to-bottom:before { transform: scaleY(-1); }
.actions-move-up:before, .actions-move-down:before { background-image: url('assets/icons/up.svg'); }
.actions-to-top:before, .actions-to-bottom:before { background-image: url('assets/icons/up3.svg'); }
.actions-add:before { background-image: url('assets/icons/add.png'); }  /* https://www.flaticon.com/free-icon/sheet_14096893 */
.actions-delete:before { background-image: url('assets/icons/delete.png'); }  /* https://www.flaticon.com/free-icon/bin_484662 */
.actions-delete-all:before { background-image: url('assets/icons/delete all.png'); }  /* https://www.flaticon.com/free-icon/broom_9742093 */



.documents-table {
    display: grid;
    grid-template-columns: auto 1fr;
}
.documents-table dt {
    /* background-color:  */
}
.documents-table dd {
    margin-inline-start: 0;
}