@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geologica:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/* PNG to SVG conversion: https://svgtrace.com/png-to-svg */

:root {
    --section-default-width: min(800px, calc(100vw - 100px));
    --section-wide-width: min(1000px, calc(100vw - 100px));
    --section-vast-width: calc(100vw - 200px);
    --px: 1px;
}
body {  
    padding: 0;
    margin: 0;
    background-color: #20124d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}

* {
    box-sizing: border-box;
}
h1, h2, h3, h4, p, ul, menu {
    margin: 0;
}
menu {
    list-style-type: none;
    padding: 0;
}
table {
    border-collapse: collapse;
}
@media screen and (max-width: 625px) {
    :root {
        --px: 0.8px;
    }
    main {
        padding-top: 84px !important;
    }
}
@media screen and (max-width: 450px) {
    :root {
        --section-default-width: min(800px, calc(100vw - 50px));
        --section-wide-width: min(1000px, calc(100vw - 50px));
        --section-vast-width: calc(100vw - 100px);
    }
}


/*******************************
Footer
*******************************/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #20124d, #045962);
    font-family: 'Atkinson Hyperlegible';
    font-size: calc(16 * var(--px));
    color: rgb(210, 210, 222);
    text-align: center;
    text-wrap: balance;
    padding-bottom: calc(35 * var(--px));
    padding-left: calc(25 * var(--px));
    padding-right: calc(25 * var(--px));
    position: relative;
    z-index: 1;
}
footer h4 {
    font-family: 'DM Sans';
    font-size: calc(22 * var(--px));
    color: rgb(255, 255, 200)
}
footer hr {
    --linewidth: calc(2 * var(--px));
    border: none;
    background-color: rgb(95, 95, 116);
    height: var(--linewidth);
    width: 85vw;
    margin: auto;
    position: relative;
    overflow: visible;
}
footer hr:after, footer hr:before {
    --radius: calc(5 * var(--px));
    content: '';
    background-color: rgb(95, 95, 116);
    display: block;
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    border-radius: 100%;
    position: absolute;
    top: calc(-1 * var(--radius) + 0.5 * var(--linewidth));
}
footer hr:after {
    right: calc(-1 * var(--radius));
}
footer hr:before {
    left: calc(-1 * var(--radius));
}
#footer-contact-row {
    margin: calc(35 * var(--px)) 0px calc(15 * var(--px)) 0px;
}
footer p:nth-child(4) {
    margin-bottom: calc(15 * var(--px));
}

/*******************************
Header
*******************************/
header {
    background-color: rgb(250, 250, 250);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: calc(15 * var(--px));
}
#main-logo {
    background-image: url("assets/icons/lmc.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    width: calc(80 * var(--px));
    height: calc(80 * var(--px));
    transition: 0.2s;
}
#main-logo:hover {
    filter: opacity(0.6) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}
#main-logo:active {
    filter: opacity(0.35) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
    transition: 0s;
}
#header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 550px;
}
#header-title h1 {
    font-family: "Host Grotesk";
    font-size: calc(40 * var(--px));
    line-height: calc(45 * var(--px));
    text-wrap: nowrap;
    user-select: none;
}
#header-title p {
    font-family: "DM Sans";
    font-size: calc(20 * var(--px));
    line-height: calc(25 * var(--px));
}
#header-title p:before {
    content: 'University of Toronto Student Anime & Manga Association';
    text-wrap: nowrap;
}

/*******************************
Header/footer social media icons
*******************************/
#header-contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#header-contact-row, #footer-contact-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(7.5 * var(--px));
}
#header-contact-row {
    margin-top: 7px;
}
#header-contact-row a {
    height: calc(30 * var(--px));
}
#footer-contact-row a {
    height: calc(35 * var(--px));
}
#header-contact-row a, #footer-contact-row a {
    aspect-ratio: 1;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.2s;
}
#header-contact-row a:hover {
    filter: opacity(0.7);
}
#header-contact-row a:active {
    filter: opacity(0.2);
    transition: 0s;
}
.contact-gmail { background-image: url("assets/icons/logos/gmail.svg"); }
.contact-discord { background-image: url("assets/icons/logos/discord.svg"); }
.contact-instagram { background-image: url("assets/icons/logos/instagram.svg"); }
.contact-youtube { background-image: url("assets/icons/logos/youtube.svg"); }
.contact-linktree { background-image: url("assets/icons/logos/linktree.svg"); }
.contact-github { background-image: url("assets/icons/logos/github.svg"); }

#header-contact-row .contact-instagram {
    height: calc(25 * var(--px)) !important;
}

#footer-contact-row a {
    background-color: white;
    filter: saturate(0);
    background-size: calc(25 * var(--px));
    border-radius: 100%;
}
#footer-contact-row a:hover {
    filter: saturate(1) invert(0.2) brightness(1.2);
}
#footer-contact-row a:active {
    filter: saturate(1) invert(0.2) brightness(1.4) drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.1));
    transition: 0s;
}

/*******************************
Header hamburger menu
*******************************/
#header-hamburger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    margin-right: 20px;
    min-width: 30px;
}
.header-hamburger-open {
    transform: rotate(90deg);
}
.header-hamburger-closed {
    transform: rotate(0deg);
}
#header-hamburger rect {
    transition: 0.2s;
}
#header-hamburger:hover rect {
    fill: #676767;
}
#header-hamburger:active rect {
    transition: 0s;
    fill: #a79da3;
}

/* Desktop device */
@media screen and (width > 900px) {
    #header-hamburger, #nav-background {
        display: none;
    }
    #nav-page-mobile {
        display: none !important;
    }
    #nav-page-desktop li h3 {
        padding: 8px 16px !important;
    }
}
@media screen and (width > 900px) and (max-width: 1500px) {    
    #nav-page, header {
        position: relative;
    }
    #nav-page {
        background-color: #e2cbdb;
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.2));
    }
}
/* Widescreen desktop */
@media screen and (width > 1500px) {
    #header-contact {
        display: none;
    }
    #nav-page {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        right: calc(max(0px, calc(100vw - 1500px)) * 0.2);
        height: 100px;
    }
    /* Move nav bar styling to header bar */
    header {
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.2));
        align-items: center;
        justify-content: normal;
        padding-left: calc(max(0px, calc(100vw - 1500px)) * 0.2);
    }
    #nav-page-desktop li h3 {
        font-size: calc(26 * var(--px)) !important;
    }
    #nav-repertoire-dropdown span {
        font-size: calc(20 * var(--px)) !important;
    }
    #nav-page-desktop li:not(.nav-active) h3:not(.nav-active):hover {
        background-color: rgba(204, 175, 194, 0.3) !important;
    }
    #nav-page-desktop li:not(.nav-active) h3:not(.nav-active):active {
        transition: 0s;
        filter: brightness(0.7);
    }
    #nav-page-desktop .nav-active h3, #nav-page-desktop h3.nav-active {
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-style: dashed;
        text-decoration-color: #a46ae6;
    } 
}
/* Mobile device */
@media screen and (max-width: 900px) {
    #header-contact {
        display: none;
    }
    #header-title {
        flex-grow: 1;
    }
    #nav-page-desktop {
        display: none !important;
    }
    /* Move nav bar styling to header bar */
    header {
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.2));
        align-items: center;
    }
    header, #nav-page {
        position: fixed;
        width: 100%;
        opacity: 0.97;
    }
    #nav-page {
        top: calc(100 * var(--px));
        background-color: #e3e3e3;
    }
    main { padding-top: 100px; }
}
@media screen and (max-width: 750px) {
    #header-title {
        min-width: auto;
    }
    #header-title p:before {
        content: 'UT-SAMA // University of Toronto';
    }
}
@media screen and (max-width: 750px) {
    #header-title {
        min-width: auto;
    }
    #header-title p:before {
        content: 'UT-SAMA // University of Toronto';
    }
}
@media screen and (max-width: 625px) {
    #header-title p:before {
        content: 'University of Toronto Student Anime & Manga Association';
    }
}
@media screen and (max-width: 605px) {
    #header-title p:before {
        content: 'UT-SAMA // University of Toronto';
    }
}
@media screen and (max-width: 430px) {
    header {
        gap: calc(15 * var(--px));
    }
    #main-logo {
        width: calc(70 * var(--px));
        height: calc(70 * var(--px));
    }
    #header-title h1 {
        font-size: calc(37 * var(--px));
        line-height: calc(41 * var(--px));
    }
    #header-title p {
        font-size: calc(18 * var(--px));
        line-height: calc(22 * var(--px));
    }
    #header-hamburger {
        margin-right: 10px;
    }
    #nav-page { top: 76px; }
    main { padding-top: 76px !important; }
}
@media screen and (max-width: 900px) { #nav-page-mobile li { aspect-ratio: 1.9; } }
@media screen and (max-width: 850px) { #nav-page-mobile li { aspect-ratio: 1.75; } }
@media screen and (max-width: 770px) { #nav-page-mobile li { aspect-ratio: 1.5; } }
@media screen and (max-width: 740px) { #nav-page-mobile li { aspect-ratio: 1.2; } }
@media screen and (max-width: 570px) { #nav-page-mobile li { aspect-ratio: 1; } }
@media screen and (max-width: 500px) {
    #nav-page-mobile li {
        padding: 5px !important;
    }
    #nav-page-mobile li h3 {
        font-size: calc(18 * var(--px)) !important;
    }
    .nav-page-mobile-icon {
        height: 40px !important;
    }
}
@media screen and (max-width: 400px) {
    header {
        gap: calc(10 * var(--px));
    }
    #main-logo {
        width: calc(60 * var(--px));
        height: calc(60 * var(--px));
    }
    #header-title h1 {
        font-size: calc(30 * var(--px));
        line-height: calc(35 * var(--px));
    }
    #header-title p {
        font-size: calc(15 * var(--px));
        line-height: calc(20 * var(--px));
    }
    #nav-page-mobile {
        grid-template-columns: 1fr 1fr 1fr !important;
    }
    #nav-page-mobile .nav-about { order: 0; }
    #nav-page-mobile .nav-home { order: 1; }
    #nav-page-mobile .nav-events { order: 2; }
    #nav-page-mobile .nav-large-ensemble { order: 3; }
    #nav-page-mobile .nav-small-ensemble { order: 4; }
    #nav-page-mobile .nav-repertoire-archive { order: 5; }
    #nav-page-mobile .nav-resources { order: 6; }
    #nav-page-mobile .nav-get-involved { order: 7; }
    #nav-page-mobile li h3 {
        font-size: calc(22 * var(--px)) !important;
    }
    #nav-page { top: 68px; }
    main { padding-top: 68px !important; }
}
@media screen and (max-width: 335px) {
    #header-hamburger {
        margin-right: 2px;
    }
    #nav-page-mobile li h3 {
        font-size: calc(18 * var(--px)) !important;
    }
    .header-hamburger-open {
        transform: scale(0.8) rotate(90deg);
    }
    .header-hamburger-closed {
        transform: scale(0.8);
    }
}


/*******************************
Navigation
*******************************/
/* Nav (including dropdown menus) should be above main content */
main {
    position: relative;
    z-index: 1;
}
header, #nav-page {
    z-index: 2;
}

#nav-page-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#nav-page:not(.nav-active) {
    color: #351c75;
}
#nav-page-desktop li h3, #nav-page-mobile li h3 {
    font-family: "Zilla Slab";
    font-size: calc(22 * var(--px));
    user-select: none;
    transition: 0.2s;
    font-weight: 400;
}
#nav-page-desktop li h3 {
    text-wrap: nowrap;
    padding: 8px 20px;
}
#nav-page-desktop li:not(.nav-active) {
    cursor: pointer;
}
.nav-repertoire h3.nav-active {
    cursor: auto;
}
#nav-page-desktop li:not(.nav-active) h3:not(.nav-active):hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #333333;
}
#nav-page-desktop li:not(.nav-active) h3:not(.nav-active):active {
    transition: 0s;
    filter: brightness(0.7);
}
.nav-active, .nav-active h3 {
    color: #241253;
    font-weight: 600 !important;
}

/* Desktop dropdown menu */
#nav-page-desktop .nav-repertoire:hover #nav-repertoire-dropdown {
    pointer-events: auto;
    max-height: 85px;
    transform: scale(1);
    opacity: 1;
}
#nav-repertoire-dropdown {
    border-top: 5px solid transparent;
    transition: 0.3s ease;
    position: absolute;
    display: flex;
    opacity: 0;
    pointer-events: none;
    max-height: 0px;
    transform: scale(0.8);
    overflow: hidden;
    flex-direction: column;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
    transform-origin: 0% 0%;
}
#nav-repertoire-dropdown span {
    transition: 0.2s;
    padding: 6px 14px;
    font-family: 'DM Sans';
    font-size: calc(17 * var(--px));
    background-color: #dfb2df;
    user-select: none;
}
#nav-repertoire-dropdown span.nav-active {
    cursor: auto;
}
#nav-repertoire-dropdown span:first-child {
    border-radius: 10px 10px 0px 0px;
}
#nav-repertoire-dropdown span:last-child {
    border-radius: 0px 0px 10px 10px;
}
#nav-repertoire-dropdown span:not(.nav-active):hover {
    filter: brightness(1.2);
}
#nav-repertoire-dropdown span:not(.nav-active):active {
    transition: 0s;
    filter: brightness(0.8) saturate(2);
}

/* Mobile menu */
#nav-page-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    overflow: hidden;
    transition: 0.2s;
    padding: 10px;
    max-height: 450px;
}
.nav-page-mobile-closed {
    padding: 0 !important;
    max-height: 0px !important;
}
#nav-page-mobile li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    transition: 0.2s;
}
#nav-page-mobile li h3 {
    text-align: center;
    line-height: calc(20 * var(--px));
}

/* Mobile dropdown rectangles */
#nav-page-mobile li:hover {
    filter: brightness(1.1);
}
#nav-page-mobile li:active {
    filter: brightness(1.2) invert(0.2);
    transition: 0s;
}
#nav-page-mobile .nav-home {
    background-color: #fb4240;
    color: white;
}
#nav-page-mobile .nav-about {
    background-color: #ffb74c;
    color: black;
}
#nav-page-mobile .nav-large-ensemble {
    background-color: #462b8d;
    color: white;
}
#nav-page-mobile .nav-small-ensemble {
    background-color: #3ac4ff;
    color: black;
}
#nav-page-mobile .nav-events {
    background-color: #ff84ae;
    color: black;
}
#nav-page-mobile .nav-repertoire-archive {
    background-color: #018e70;
    color: white;
}
#nav-page-mobile .nav-resources {
    background-color: #00eaad;
    color: black;
}
#nav-page-mobile .nav-get-involved {
    background-color: #c300a8;
    color: white;
}
.nav-page-mobile-icon {
    height: 50px;
    aspect-ratio: 1.5;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.nav-home .nav-page-mobile-icon { background-image: url('assets/icons/home outline.svg'); filter: invert(1); }
.nav-about .nav-page-mobile-icon { background-image: url('assets/icons/subgroup membership.svg'); }
.nav-large-ensemble .nav-page-mobile-icon { background-image: url('assets/icons/song suggestion.svg'); filter: invert(1); }
.nav-small-ensemble .nav-page-mobile-icon { background-image: url('assets/icons/small ensemble.svg'); }
.nav-events .nav-page-mobile-icon { background-image: url('assets/icons/events.svg'); }
.nav-repertoire-archive .nav-page-mobile-icon { background-image: url('assets/icons/music theory.svg'); filter: invert(1); }
.nav-resources .nav-page-mobile-icon { background-image: url('assets/icons/resources shape.svg'); }
.nav-get-involved .nav-page-mobile-icon { background-image: url('assets/icons/get involved.svg'); filter: invert(1); }

/* Dark overlay when hamburger menu is open */
#nav-background {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    opacity: 0.5;
    transition: 0.3s;
}
.nav-background-closed {
    opacity: 0 !important;
    pointer-events: none;
}

/*******************************
Tabs
*******************************/
.tab:not(.tab-active) {
    display: none;
}
.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Atkinson Hyperlegible";
    color: rgb(230, 230, 230);
    font-size: calc(18 * var(--px));
    overflow-x: hidden;
}
.tab h1, .tab h2 {
    font-family: "Geologica";
    font-size: calc(28 * var(--px));
    color: rgb(250, 250, 250);
    font-weight: 600;
    width: 100%;
}
.tab h2 {
    font-size: calc(26 * var(--px));
    color: rgb(255, 255, 55);
}
.tab h4 {
    font-weight: normal;
}
.tab p {
    width: 100%;
}

.tab-viewer:not(.tab-viewer-active) {
    display: none;
}
.tab-song:not(.tab-song-active) {
    display: none;
}


/*******************************
Hyperlinks
*******************************/
.tab p a, .table-hyperlinks a {
    color: rgb(230, 230, 230);
    text-decoration: none;
    position: relative;
    text-wrap: nowrap;
}
.tab p a:before, .table-hyperlinks a:before {
    content: '';
    background-color: rgba(46, 104, 230, 0.75);
    width: 100%;
    height: 2px;
    bottom: 1px;
    position: absolute;
    transition: 0.2s;
    z-index: -1;
}
.tab p a:hover:before, .table-hyperlinks a:hover:before {
    bottom: 0;
    height: 100%;
}
.tab p a:active:before, .table-hyperlinks a:active:before {
    transition: 0s;
    background-color: rgba(107, 138, 243, 0.75);
}
#discord-channels a {
    font-family: 'Jetbrains Mono';
    line-height: 1.5;
}


/*******************************
Hyperlink Table
*******************************/
.table-hyperlinks-container {
    display: flex;
    flex-direction: row;
    transition: 0.2s;
    outline: 2px solid white;
    outline-offset: -1px;
    align-items: center;
}
.table-hyperlinks-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.table-hyperlinks {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 5px 15px;
    padding: 10px;
    margin: 0;
    /* border: 1px dashed rgb(200, 200, 255); */
    transition: 0.2s;
}
.table-hyperlinks-icon {
    min-width: 50px;
    width: 50px;
    min-height: 50px;
    height: 50px;
    position: relative;
}
.table-hyperlinks-icon:before {
    content: '';
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
    position: absolute;
    height: 100%;
    width: 60%;
    left: 25%;
}
.table-hyperlinks dd {
    margin: 0;
}
.table-hyperlinks dd:not(a) {
    color: rgb(150, 150, 200);
}

@media screen and (max-width: 750px) {
    .table-hyperlinks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .table-hyperlinks dt:not(:first-child) {
        margin-top: 5px;
    }
}
@media screen and (max-width: 450px) {
    .table-hyperlinks-container {
        flex-direction: column;
    }
}


/*******************************
Icons
*******************************/
#icon-practice:before { background-image: url("assets/icons/practice.svg"); }
#icon-arrangement:before { background-image: url("assets/icons/arrangement.svg"); }
#icon-music-theory:before { background-image: url("assets/icons/music theory.svg"); }
#icon-audio-production:before { background-image: url("assets/icons/audio production.svg"); }
.icon-announcement { background-image: url("assets/icons/announcement.svg"); }
.icon-alert { background-image: url("assets/icons/alert.svg"); }

#icon-song-suggestion { background-image: url("assets/icons/song suggestion.svg"); }
#icon-song-voting { background-image: url("assets/icons/vote.svg"); }
#icon-ideas-and-feedback { background-image: url("assets/icons/feedback.svg"); }

#icon-small-ensemble-registration { background-image: url("assets/icons/small ensemble form.svg"); }
#icon-equipment-or-room-requests { background-image: url("assets/icons/equipment.svg"); }
#icon-online-project-assistance { background-image: url("assets/icons/video.svg"); }

#icon-code-of-conduct { background-image: url("assets/icons/code of conduct.svg"); }
#icon-new-member-registration { background-image: url("assets/icons/new member form.svg"); }

#icon-members { background-image: url("assets/icons/members.png"); }
#icon-personnel { background-image: url("assets/icons/personnel.png"); }
#icon-subgroups { background-image: url("assets/icons/subgroups.png"); }
#icon-subgroup-membership { background-image: url("assets/icons/subgroup membership.png"); }
#icon-repertoire { background-image: url("assets/icons/repertoire.png"); }
#icon-concerts { background-image: url("assets/icons/concerts.png"); }

.placeholder {
    position: relative;
    width: 100%;
    height: 100%;
}
.placeholder:before {
    content: 'PLACEHOLDER';
    letter-spacing: 10px;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: rgb(212, 212, 212);
    font-weight: 700;
    font-size: 40px;
    color: rgb(120, 120, 120);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*******************************
Sections
*******************************/
section {
    display: block;
}
article *:not(.section-default):first-child {
    margin-top: 0px;
}
article .section-default:last-child, article .section-wide:last-child {
    padding-bottom: 50px;
}
.section-default, .section-wide {
    width: var(--section-default-width);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
    align-items: center;
}
.section-wide {
    width: var(--section-wide-width);
}
.section-wide h1 {
    text-align: center;
}
.section-default-bg:before {
    content: '';
    position: absolute;
    background-color: #351c75ff;
    width: 100vw;
    height: 100%;
    z-index: -1;
    margin-top: -50px;
}
.section-default-bg {
    width: var(--section-default-width);
    padding: 50px 0px;
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
}
.section-banner {
    background-color: #674ea7ff;
    width: 100%;
    min-height: 100px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.section-gallery {
    background-color: #674ea7ff;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 15px;
    margin-top: 50px;
}
.section-gallery h1 {
    text-align: center;
}
.gallery-container {

}


/*******************************
Notifications / Announcements
*******************************/
.notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #eeeeeeff;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}
.notification span {
    color: #666666;
}
.notification div {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.notification a {
    transition: 0.2s;
    color: #b66952;
}
.notification a:hover {
    color: rgb(255, 144, 110);
}
.notification a:active {
    color: rgb(151, 48, 17);
}

@media screen and (max-width: 450px) {
    .notification {
        flex-direction: column;
        gap: 5px;
    }
}


/*******************************
Big Announcements and Cards
*******************************/
.card-wide, .card-normal {
    background-color: #351c75;
    padding: 50px;
    border-radius: 25px;
    border: none;
    width: var(--section-wide-width);
    color: rgb(230, 230, 230);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.card-normal {
    width: calc(var(--section-default-width));
}
.img-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.img-text span {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.img-text div:first-child {
    background-color: #eeeeeeff;
    color: black;
}

@media screen and (max-width: 750px) {
    .img-text {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
}
@media screen and (max-width: 550px) {
    .card-wide, .card-normal {
        padding: 25px;
    }
}


/*******************************
Iframes and embeds
*******************************/
.embed-calendar {
    margin-top: 15px;
    height: 600px;
    width: 100vw;
    border: none;
    background-color: white;
}
.embed-drive-grid, .embed-drive-list {
    border: none;
    background-color: white;
    width: 100%;
}
.embed-drive-grid {
    border-radius: 10px 0px 0px 10px;
    height: 500px;
}
.embed-drive-list {
    border-radius: 10px;
    height: 300px;
}
.embed-youtube {
    aspect-ratio: 16 / 9;
    width: 100%;
}
.embed-grid {
    width: var(--section-wide-width);
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.embed-grid h1 {
    margin-bottom: 10px;
}
.embed-grid div {
    flex-grow: 1;
}
.embed-maps {
    border: none;
    background-color: white;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1025px) {
    .embed-grid {
        flex-direction: column;
    }
}


/*******************************
Collapsible Detail Summary
*******************************/
details summary {
    background-color: rgb(240, 240, 240);
    color: black;
    padding: calc(15 * var(--px));
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(15 * var(--px));
    cursor: pointer;
    transition: 0.2s;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
    align-items: center;
}
.details-hidden summary {
    filter: none;
}
details summary:hover {
    background-color: white;
}
details summary:active {
    background-color: rgb(240, 253, 183);
    transition: 0s;
}

details .summary-triangle {
    min-width: calc(20 * var(--px));
    min-height: calc(20 * var(--px));
    background-image: url("assets/icons/up.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
}
.details-hidden .summary-triangle {
    transform: rotate(180deg);
}

details .summary-body {
    color: rgb(105, 105, 105);
    background-color: rgb(204, 204, 204);
    padding: 15px 15px;
    overflow: hidden;
    transition: 0.3s;
    height: auto;
    interpolate-size: allow-keywords;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.details-hidden .summary-body {
    padding: 0px 15px;
    height: 0px;
    margin-bottom: 0px;
}

.setlist-block {
    width: 100%;
}


/*******************************
Subgroup Cards
*******************************/
#card-subgroup-container {
    --card-subgroup-padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: calc(100% + calc(2 * var(--card-subgroup-padding)));
}
.card-subgroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(155, 155, 255, 0.1);
    padding: var(--card-subgroup-padding);
    transition: 0.3s;
}
.card-subgroup:hover {
    background-color: rgba(155, 155, 255, 0.2);
}
.table-subgroup {
    display: grid;
    grid-template-columns: 125px auto;
    margin: 0;
}
.table-subgroup dt {
    color: rgb(133, 133, 222);
    font-style: italic;
    text-wrap: nowrap;
}
.table-subgroup dd {
    margin: 0;
}

@media screen and (max-width: 750px) {
    #card-subgroup-container {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 450px) {
    #card-subgroup-container {
        --card-subgroup-padding: 0px;
    }
    .card-subgroup {
        padding: 25px;
    }
}


/*******************************
Member Cards Big
*******************************/
#card-member-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.card-member {
    display: flex;
    flex-direction: column;
}
.card-member h3, .card-member-small h3 {
    font-family: "DM Sans";
}
.card-member-img {
    background-color: red;
    width: 100%;
    aspect-ratio: 1;
}
.card-member-text, .card-member-text-small {
    display: flex;
    flex-direction: column;
}
.card-member-text .tag-container, .card-member-text-small .tag-container {
    margin: 5px 0px;
}

.list-social-media {
    list-style-type: none;
    padding: 0;
    text-wrap: nowrap;
}
.list-social-media li:before {
    content: '';
    width: calc(28 * var(--px));
    height: calc(28 * var(--px));
    background-size: calc(24 * var(--px)) calc(20 * var(--px));
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: calc(5 * var(--px));
    margin-bottom: calc(-8 * var(--px));
}
.list-social-media a {
    text-decoration: none;
    color: rgb(200, 200, 222);
    transition: 0.2s;
}
.list-social-media a:hover {
    color: white;
}
.list-social-media a:active {
    color: rgb(235, 255, 119);
    transition: 0s;
}
.li-discord:before { background-image: url('assets/icons/logos/discord.svg'); }
.li-youtube:before { background-image: url('assets/icons/logos/youtube.svg'); }
.li-bandcamp:before { background-image: url('assets/icons/logos/bandcamp.svg'); }
.li-soundcloud:before { background-image: url('assets/icons/logos/soundcloud.svg'); }
.li-musescore:before { background-image: url('assets/icons/logos/musescore.svg'); }
.li-instagram:before { background-image: url('assets/icons/logos/instagram.svg'); }
.li-spotify:before { background-image: url('assets/icons/logos/spotify.svg'); }
.li-linkedin:before { background-image: url('assets/icons/logos/linkedin.svg'); }
.li-personal-website:before { background-image: url('assets/icons/logos/website.svg'); }

@media screen and (max-width: 750px) {
    #card-member-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 500px) {
    .card-member-img {
        width: 100px;
        height: 100px;
    }
    .card-member {
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }
    #card-member-container {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 350px) {
    .card-member-img {
        width: 80px;
        height: 80px;
    }
}


/*******************************
Member Cards Small
*******************************/
.card-member-small {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.card-member-img-small {
    background-color: red;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    aspect-ratio: 1;
}


/*******************************
Tags
*******************************/
.tag-container h4 {
    margin-right: 5px;
}
.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px 5px;
}
.tag {
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius: 10px;
    padding: 0px 10px;
    text-wrap: nowrap;
    font-family: "DM Sans";
    font-size: calc(17 * var(--px));
}


/*******************************
Card Buttons
*******************************/
.card-button-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}
.card-button {
    width: 180px;
    height: 180px;
    background-color: rgb(222, 222, 222);
    font-family: "DM Sans";
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s;
    padding: 15px;
    cursor: pointer;
}
.card-button:hover {
    background-color: white;
}
.card-button:active {
    filter: opacity(0.8);
    transition: 0s;
}
.card-button-icon {
    width: 50%;
    aspect-ratio: 1;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
    .card-button-container {
        gap: 10px;
    }
    .card-button {
        padding: 0px;
        width: 110px;
        height: 110px;
        font-size: 14px;
        gap: 5px;
    }
    .card-button-icon {
        width: 30%;
    }
    .card-button span {
        width: 85%;
    }
}


/*******************************
Personnel Table
*******************************/
#table-personnel {
    --table-personnel-padding: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    border: 1px dashed rgb(200, 200, 255);
    padding: var(--table-personnel-padding);
    width: calc(100% + calc(2 * var(--table-personnel-padding)));
    margin-top: 0;
    margin-bottom: 0;
}
#table-personnel * {
    text-wrap: nowrap;
}
#table-personnel dt {
    color: rgb(150, 150, 200);
}
#table-personnel dd {
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 500px) {
    #table-personnel {
        grid-template-columns: 2fr 1fr;
        --table-personnel-padding: 0px;
        padding: 15px;
    }
}


/*******************************
Paginated Table
*******************************/
.table {
    width: 100%;
    overflow-x: auto;
}
.table table {
    width: 100%;
    min-width: 700px;
}

.cell-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.pagination {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-end;
    font-weight: 400;
}
.pagination span {
    margin-right: 5px;
}

.paginate-arrow {
    width: calc(25 * var(--px));
    height: calc(25 * var(--px));
    background-color: rgb(152, 134, 241);
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    cursor: pointer;
}
.paginate-arrow:hover {
    background-color: rgb(186, 173, 255);
}
.paginate-arrow:active {
    transition: 0s;
    background-color: rgb(128, 110, 219);
}
.paginate-left:before {
    position: absolute;
    content: '';
    border-top: calc(7.5 * var(--px)) solid transparent;
    border-bottom: calc(7.5 * var(--px)) solid transparent;
    border-right: calc(10 * var(--px)) solid white;
    margin-left: calc(6 * var(--px));
    margin-top: calc(5 * var(--px));
}
.paginate-right:before {
    position: absolute;
    content: '';
    border-top: calc(7.5 * var(--px)) solid transparent;
    border-bottom: calc(7.5 * var(--px)) solid transparent;
    border-left: calc(10 * var(--px)) solid white;
    margin-left: calc(9 * var(--px));
    margin-top: calc(5 * var(--px));
}

.table thead, .table body {
    min-width: 700px;
}
.table thead tr {
    font-weight: 700;
    background-color: #333b8f;
    text-align: left;
    transition: 0.2s;
}
.table thead tr:hover {
    background-color: #4049a8;
}
.table th {
    vertical-align: bottom;
    font-family: 'Host Grotesk';
}
.table th, .table td {
    padding: calc(10 * var(--px)) calc(15 * var(--px));
}
.table tbody tr {
    color: rgb(200, 200, 222);
    transition: 0.2s;
}
.table tbody tr:not(:last-child) {
    border-bottom: 2px dashed rgba(165, 158, 255, 0.5);
}
.table tbody tr:hover {
    background-color: rgba(100, 100, 255, 0.15);
}


/*******************************
Paginated table column width adjustment
*******************************/
#table-past-members tr td:nth-child(3n + 3), #table-past-members tr th:nth-child(3) {
    min-width: calc(215 * var(--px));
}
#table-past-members tr td:nth-child(3n + 2), #table-past-members tr th:nth-child(2) {
    text-align: center;
    width: calc(150 * var(--px));
    min-width: calc(150 * var(--px));
}
#table-past-subgroups tr td:nth-child(3n + 2), #table-past-subgroups tr th:nth-child(2) {
    text-align: center;
    width: calc(150 * var(--px));
    min-width: calc(150 * var(--px));
}

#table-repertoire-archive th {
    line-height: calc(18 * var(--px));
}
#table-repertoire-archive tr td:nth-child(6n + 6) {
    text-align: center;
}
#table-repertoire-archive a {
    display: block;
    margin: auto;
    height: calc(18 * var(--px));
    aspect-ratio: 1;
    background-image: url('assets/icons/embeds.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
    transition: 0.2s;
}
#table-repertoire-archive a:hover {
    filter: invert(0.8);
}
#table-repertoire-archive a:active {
    filter: invert(0.5);
    transition: 0s;
}

/*******************************
Viewer
*******************************/
.viewer-container {
    width: var(--section-vast-width);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.viewer-sidebar {
    background-color: #0b5394ff;
    position: relative;
    width: max(calc(var(--section-vast-width) * 0.2), 300px);
    transition: 0.2s;
    z-index: 1;
}
.viewer-sidebar-closed {
    width: 0%;
}
.viewer-sidebar menu {
    position: absolute;
    width: max(calc(var(--section-vast-width) * 0.2), 300px);
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.viewer-sidebar menu li {
    padding: 10px 15px;
    transition: 0.2s;
    user-select: none;
    color: black;
    background-color: rgb(200, 200, 200);
}
.viewer-sidebar menu li:not(.sidebar-active) {
    cursor: pointer;
}
.viewer-sidebar menu li:not(.sidebar-active):hover {
    background-color: rgb(215, 215, 215);
}
.viewer-sidebar menu li:not(.sidebar-active):active {
    transition: 0s;
    background-color: rgb(187, 187, 187);
}
.sidebar-active {
    background-color: rgb(244, 243, 164);
    background-image: linear-gradient(to right, rgb(244, 243, 164) 70%, rgb(243, 223, 107));
    border-right: 4px solid rgb(209, 186, 55);
}

.viewer {
    z-index: 3;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 222, 222);
    padding: 25px;
    color: #595959;
    gap: 15px;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.1);
}
.viewer-header, .viewer-header hgroup {
    display: flex;
    flex-direction: row;
}
.viewer-header {
    align-items: center;
    gap: 15px;
}
.viewer-header hgroup {
    align-items: baseline;
    gap: 10px;
}
.viewer-header h2 {
    color: black;
    font-variant: normal;
    font-family: 'Atkinson Hyperlegible';
    text-wrap: nowrap;
    font-size: 28px;
}
.viewer-header span {
    font-size: 24px;
    text-wrap: nowrap;
}

.viewer-hamburger {
    width: 22px;
    height: 22px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    transform: rotate(90deg);
}
.viewer-hamburger-closed {
    transform: rotate(0deg);
}
.viewer-hamburger rect {
    fill: #595959;
    transition: 0.2s;
}
.viewer-hamburger:hover rect {
    fill: #8d8d8d;
}
.viewer-hamburger:active rect {
    transition: 0s;
    fill: #97b5f7;
}

.nav-viewer menu {
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 20px;
    border-bottom: 2px solid #9c9c9c;
}
.nav-viewer menu li, .nav-song menu li {
    transition: 0.2s;
    user-select: none;
}
.nav-viewer menu li:not(.nav-viewer-active), .nav-song menu li:not(.nav-song-active) {
    cursor: pointer;
}
.nav-viewer menu li:not(.nav-viewer-active):hover {
    color: #a3a3a3;
}
.nav-viewer menu li:not(.nav-viewer-active):active {
    color: black;
    transition: 0s;
}
.nav-viewer-active, .nav-song-active {
    font-weight: 700;
}


/*******************************
Setlist
*******************************/
.song-container {
    display: flex;
    flex-direction: row !important;
}
.nav-song {
    border-right: 2px solid #9c9c9c;
}
.nav-song menu {
    width: 120px;
    min-width: 120px;
}
.nav-song menu li {
    padding: 5px 15px;
    text-align: right;
}
.nav-song menu li:not(.nav-song-active):hover {
    background-color: rgb(195, 195, 195);
    color: #535353;
}
.nav-song menu li:not(.nav-song-active):active {
    background-color: rgb(175, 175, 175);
    color: black;
    transition: 0s;
}
.tab-song {
    padding: 5px;
}
.nav-song-active {
    background-color: rgb(185, 185, 185);
}

.table-song-info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px 15px;
    margin: 0;
}
.table-song-info dt {
    text-wrap: nowrap;
}
.table-song-info dd {
    color: black;
    margin: 0;
}

.tab-song-performers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 15px;
}
.performer-instrument {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}
.performer-instrument dt {
    color: black;
    font-size: calc(20 * var(--px));
    font-weight: 700;
}
.performer-instrument dd {
    margin: 0;
}

@media screen and (max-width: 700px) {
    .song-container {
        flex-direction: column !important;
        gap: 5px !important;
    }
    .nav-song {
        border-right: none;
        border-bottom: 2px solid #9c9c9c;
    }
    .nav-song menu {
        display: flex;
        flex-direction: row;
        width: auto;
        gap: 15px;
    }
    .nav-song menu li {
        padding: 5px 0px;
        text-align: center;
    }
    .nav-song-active {
        background-color: transparent;
    }
    .nav-song menu li:not(.nav-song-active):hover {
        background-color: transparent;
        color: #a3a3a3;
    }
    .nav-song menu li:not(.nav-song-active):active {
        background-color: transparent;
        color: black;
    }
}
@media screen and (max-width: 600px) {
    .tab-song-performers {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 550px) {
    .table-song-info {
        display: flex;
        flex-direction: column;
    }
    .table-song-info dt:not(:first-child) {
        margin-top: 15px;
    }
}
@media screen and (max-width: 450px) {
    .tab-song-performers {
        grid-template-columns: 1fr;
    }
}

/*******************************
Location
*******************************/
.col-divider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.row-divider {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width: 625px) {
    .col-divider {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
}