@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geologica:wght@100..900&family=Reddit+Sans+Condensed:wght@200..900&display=swap');

:root {
    --section-default-width: min(800px, calc(100vw - 100px));
}
body {
  padding: 0;
  margin: 0;
  background-color: #20124dff;
}
* {
    box-sizing: border-box;
}
h1, h2, p {
    margin: 0;
}


/*******************************
Header
*******************************/
header {
    background-color: rgb(250, 250, 250);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
#main-logo {
    background-image: url("assets/icons/lmc.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    width: 100px;
    height: 100px;
    transition: 0.2s;
}
#main-logo:hover {
    filter: opacity(0.6) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}
#main-logo:active {
    filter: opacity(0.35) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
    transition: 0s;
}
#header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 550px;
}
#header-title h1 {
    font-family: "DM Sans";
    font-size: 40px;
    line-height: 50px;
}
#header-title p {
    font-family: "Atkinson Hyperlegible";
    font-size: 20px;
    line-height: 20px;
}
#contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#contact-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#contact-row a {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.2s;
}
#contact-row a:hover {
    filter: opacity(0.7);
}
#contact-row a:active {
    filter: opacity(0.2);
    transition: 0s;
}
#contact-gmail { background-image: url("assets/icons/gmail.png"); }
#contact-discord { background-image: url("assets/icons/discord.png"); }
#contact-instagram { background-image: url("assets/icons/instagram.png"); }
#contact-youtube { background-image: url("assets/icons/youtube.png"); }


/*******************************
Navigation
*******************************/
nav {
    background-color: #ead1dcff;
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    justify-content: center;
}
nav ul li {
    color: #595959;
    font-family: "Reddit Sans Condensed";
    font-size: 22px;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    transition: 0.2s;
    padding: 8px 20px;
    text-wrap: nowrap;
}
.nav-active {
    color: black;
}
/* TODO fancy transitions for clicking tabs */


/*******************************
Main Body
*******************************/
article:not(.tab-active) {
    display: none;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Atkinson Hyperlegible";
    color: rgb(230, 230, 230);
    font-size: 18px;
}
article h1, main h2 {
    font-family: "Geologica";
    font-size: 28px;
    color: rgb(250, 250, 250);
    font-weight: 600;
}
article h2 {
    font-size: 26px;
    color: rgb(255, 255, 55);
}
article p a {
    color: rgb(230, 230, 230);
    /* TODO: fancy hover animation */
}

section {
    display: block;
}
.section-default {
    width: var(--section-default-width);
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.section-banner {
    background-color: #674ea7ff;
    width: 100%;
    min-height: 100px;
    background-size: cover;
    background-position: 50% 50%;
}
.section-gallery {
    background-color: #674ea7ff;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 15px;
}
.gallery-container {

}

/*******************************
Notifications
*******************************/
aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #eeeeeeff;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}
aside span {
    color: #666666;
}
.notification-icon {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    background-image: url("assets/icons/announcements.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


/*******************************
Dialog
*******************************/
dialog {
    --width: min(1000px, calc(100vw - 100px));
    display: flex;
    flex-direction: row;
    background-color: #351c75ff;
    padding: 50px;
    border-radius: 25px;
    gap: 20px;
    margin-top: 15px;
    width: var(--width);
    margin-left: calc(calc(var(--width) - var(--section-default-width)) / -2);
    position: relative;
    border: none;
    color: rgb(230, 230, 230);
}
dialog span {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.dialog-picture {
    background-color: #eeeeeeff;
    color: black;
}