@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Yanone+Kaffeesatz:wght@200..700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    box-sizing: border-box;
}
body {
    background-color: #e6f4f1ff;
    padding: 0;
    margin: 0;
    font-family: 'Be Vietnam Pro';
}
main {
    max-width: 1000px;
    margin: auto;
    background-color: #e6f4f1ff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    font-family: 'Sofia Sans Condensed';
}
h1, h2, h3, h4 {
    margin: 0;
    line-height: 1;
}
p {
    margin: 0;
}

#intro {
    background-image: linear-gradient(to bottom in oklab, rgb(72, 55, 117) calc(100% - 100px), rgb(59, 51, 73));
    padding-top: 50px;
    padding-bottom: 100px;
}
#setlist, #credits {
    display: flex;
    flex-direction: column;
    color: white;
}
#setlist {
    background-image: linear-gradient(to bottom in oklab, rgb(59, 51, 73), rgb(45, 75, 77), rgb(17, 34, 31) calc(100% - 100px), rgb(17, 34, 31));
    padding-bottom: 100px;
}
#credits {
    background-color: rgb(17, 34, 31);
}


/*******************************
Title banner  
*******************************/
#intro-title-banner {
    background-color: rgba(141, 135, 228, 0.5);
    padding: 15px;
}
#intro-title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Text */
#intro-title {
    display: flex;
    flex-direction: row;
    position: relative;
}
#intro-title h1 {
    font-size: 110px;
    line-height: 80px;
    font-variant: small-caps;
    font-size-adjust: 0.4;
    margin: 0 15px;
    position: relative;
    z-index: 0;
}
#intro-title h1:after {
    content: 'Succession';
    position: absolute;
    left: -9.2px;
    z-index: -1;
    letter-spacing: 1.9px;
    color: rgba(255, 70, 132, 0.9);
}

/* Icons */
#music-note-1, #music-note-2 {
    display: inline-block;
    height: 80px;
}
#music-note-1 {
    transform: rotate(5deg);
    filter: brightness(1.3) drop-shadow(-5px -5px rgba(0, 0, 0, 0.3));
}
#music-note-2 {
    margin-left: 10px;
    transform: rotate(-3deg);
    filter: brightness(2) drop-shadow(5px 5px rgba(0, 0, 0, 0.3));
}

@media screen and (max-width: 600px) {
    #intro-title-container {
        transform: scale(0.8);
    }
    #intro-title-banner {
        padding: 0;
    }
    #music-note-1 {
        position: absolute;
        left: -70px;
        bottom: -30px;
        height: 70px;
        filter: brightness(1.3) drop-shadow(-4px 4px rgba(0, 0, 0, 0.3));
    }
    #music-note-2 {
        position: absolute;
        right: -70px;
        top: -40px;
        height: 70px;
        filter: brightness(2) drop-shadow(4px -4px rgba(0, 0, 0, 0.3));
    }
}
@media screen and (max-width: 450px) {
    #intro-title h1 {
        font-size: 80px;
    }
    #music-note-1 {
        left: -50px;
        bottom: -20px;
        height: 60px;
    }
    #music-note-2 {
        right: -40px;
        top: -30px;
        height: 60px;
    }
}


/*******************************
Subtitle banner
*******************************/
#intro-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-variant: small-caps;
    font-size-adjust: 0.48;
    position: relative;
    color: white;
}
#intro-subtitle h4 {
    font-weight: 400;
    font-size: 24px;
}
#intro-subtitle h3 {
    font-size: 28px;
}
#intro-subtitle:before, #intro-subtitle:after {
    --height: 10px;
    --spacing: 140px;
    position: absolute;
    content: '';
    height: calc(100% + var(--height));
    margin-top: calc(-0.5 * var(--height));
    width: calc(50% - var(--spacing));
    background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><circle cx='10' cy='10' r='5' fill='%236fa8dc' /></svg>");
}
#intro-subtitle:before {
    left: 0;
    background-position: right;
}
#intro-subtitle:after {
    right: 0;
    background-position: left;
}

@media screen and (max-width: 600px) {
    #intro-subtitle h4 {
        font-size: 20px;
    }
    #intro-subtitle h3 {
        font-size: 24px;
    }
    #intro-subtitle:before, #intro-subtitle:after {
        --spacing: 115px;
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><circle cx='8' cy='8' r='4' fill='%236fa8dc' /></svg>");
    }
}
@media screen and (max-width: 450px) {
    #intro-subtitle {
        margin-top: 75px;
    }
    #intro-subtitle:before, #intro-subtitle:after {
        width: 100%;
        left: 0;
        right: auto;
        height: 10px;
    }
    #intro-subtitle:before {
        top: -16px;
    }
    #intro-subtitle:after {
        bottom: -20px;
    }
}


/*******************************
Poster
*******************************/
#poster-container, #intro-whenwhere-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#poster {
    width: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0px 0px 30px rgba(30, 22, 41, 0.3);
}
@media screen and (max-width: 600px) {
    #poster {
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    #poster {
        width: 300px;
    }
}


/*******************************
Location + time
*******************************/
#intro-whenwhere-container {
    margin-top: 15px;
    color: white;
}
#intro-whenwhere {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    font-size: 18px;
    align-items: center;
}
#intro-whenwhere dt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#icon-time { height: 24px; }
#icon-location { height: 28px; }
#intro-whenwhere dd {
    margin: 0;
}
#intro-whenwhere p {
    text-wrap: nowrap;
}

@media screen and (max-width: 450px) {
    #intro-whenwhere {
        font-size: 16px;
        gap: 10px;
    }
    #icon-time { height: 20px; }
    #icon-location { height: 24px; }
    #intro-whenwhere p:nth-child(2) {
        display: none;
    }
}

/*******************************
Divider lines
*******************************/
.intro-hr {
    --line-thickness: 3px;
    --square-size: 10px;
    --color: #9b90fd;

    width: 80%;
    height: var(--line-thickness);
    background-color: var(--color);
    border: none;
    margin: 15px auto;
    position: relative;
    overflow: visible;
}
.intro-hr:before, .intro-hr:after {
    content: "";
    position: absolute;
    width: var(--square-size);
    height: var(--square-size);
    background-color: var(--color);
    top: 50%;
    transform: translateY(-50%);
}
.intro-hr:before {
    left: calc(var(--square-size) / -2);
}
.intro-hr:after {
    right: calc(var(--square-size) / -2);
}

.setlist-hr {
    background-color: rgba(122, 122, 122, 0.5);
    height: 2px;
    width: calc(100% - 100px);
    border: none;
}

@media screen and (max-width: 500px) {
    .setlist-hr {
        width: calc(100% - 30px);
    }
}


/*******************************
Affiliated logos
*******************************/
#intro-logos {
    display: flex;
    flex-direction: row;
    gap: 0px 25px;
    padding: 0px 25px;
    margin-top: 32px;
    justify-content: center;
    flex-wrap: wrap;
}
#intro-logos img {
    height: 80px;
    aspect-ratio: 1;
}
.intro-logo-container {
    height: 120px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(10px 10px rgba(0, 0, 0, 0.3));
}
.intro-logo-container:nth-child(1) { background-image: url('assets/icons/paper-cutout-1.svg'); }
.intro-logo-container:nth-child(2) { background-image: url('assets/icons/paper-cutout-2.svg'); }
.intro-logo-container:nth-child(3) { background-image: url('assets/icons/paper-cutout-3.svg'); }

@media screen and (max-width: 350px) {
    #intro-logos img {
        height: 70px;
    }
    .intro-logo-container {
        height: 100px;
    }
}
@media screen and (max-width: 300px) {
    #intro-logos {
        flex-direction: column;
        gap: 15px;
    }
}


/*******************************
Social media
*******************************/
#intro-social-media {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-top: 25px;
}
#intro-social-media a {
    height: 50px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.2s;
    filter: saturate(1) invert(0) brightness(1) drop-shadow(5px 5px rgba(0, 0, 0, 0.3));
    position: relative;
}
#intro-social-media a img {
    height: 30px;
    aspect-ratio: 1;
}
#intro-social-media a:hover {
    filter: saturate(1) invert(0.2) brightness(1.2) drop-shadow(5px 5px rgba(0, 0, 0, 0.5));
}
#intro-social-media a:active {
    filter: saturate(1) invert(0.2) brightness(1.4) drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.7));
    transition: 0s;
}

#intro-social-media a:nth-child(1) { background-image: url('assets/icons/paper-cutout-1.svg'); }
#intro-social-media a:nth-child(2) { background-image: url('assets/icons/paper-cutout-2.svg'); }
#intro-social-media a:nth-child(3) { background-image: url('assets/icons/paper-cutout-3.svg'); }
#intro-social-media a:nth-child(4) { background-image: url('assets/icons/paper-cutout-1.svg'); }


/*******************************
Section titles
*******************************/
.section-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.section-title h1 {
    font-size: 40px;
    font-family: 'Zilla Slab';
    font-weight: 400;
}
.section-title img {
    height: 40px;
    filter: invert(1);
}

@media screen and (max-width: 450px) {
    .section-title {
        transform: scale(0.8);
    }
}


/*******************************
Setlist item
*******************************/
#section-setlist-title {
    margin: 25px 0px;
}
.setlist-item {
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.setlist-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.song-name {
    font-family: 'Yanone Kaffeesatz';
    font-size: 50px;
    font-weight: 600;
    color: rgb(169, 241, 235);
    text-wrap: balance;
    line-height: 1;
}
.song-name-bracket {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: -1;
}
.setlist-left h3 {
    font-weight: 400;
    color: rgb(78, 146, 161);
    margin-left: 5px;
    text-wrap: nowrap;
}
.setlist-left h2, .setlist-left h3 {
    display: inline;
}
.setlist-left p:first-of-type {
    margin-top: 5px;
}
.setlist-left p {
    font-style: italic;
    color: rgb(119, 188, 190);
}
.setlist-left p span {
    color: rgb(51, 133, 136)
}

.setlist-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}
.setlist-right button img {
    height: 24px;
    filter: invert(1);
}
.setlist-right button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-family: 'Be Vietnam Pro';
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}
.setlist-right button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.setlist-right button:active {
    transition: 0s;
    background-color: rgba(255, 255, 255, 0.4);
}
.setlist-right p {
    color: #bebebe
}
.setlist-desc, .setlist-desc a {
    color: #999999;
}

.setlist-right dl {
    z-index: 2;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    top: 25px;
    right: 0;
    grid-template-columns: 1fr 1fr;
    gap: 5px 20px;
    padding: 10px 15px;
    display: none;
    cursor: auto;
    pointer-events: none;
}
.setlist-caption-active {
    display: grid !important;
}
.setlist-right dt, .setlist-right dd {
    text-align: left;
    font-size: 16px;
}
.setlist-right dt {
    text-wrap: nowrap;
    color: lightgrey;
}
.setlist-right dd {
    text-wrap: nowrap;
    color: white;
    margin: 0;    
}

@media screen and (max-width: 700px) {
    .setlist-title {
        flex-direction: column;
        gap: 15px;
    }
    .setlist-right {
        align-items: center;
        gap: 10px;
        flex-direction: row;
    }
    .setlist-right p {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 8px;
        border-radius: 5px;
    }
    .setlist-item:nth-of-type(odd) .setlist-right dl {
        left: 0;
        right: auto;
    }
    .setlist-item:nth-of-type(even) .setlist-left, .setlist-item:nth-of-type(even) .setlist-desc {
        text-align: right;
    }
    .setlist-item:nth-of-type(even) .setlist-right {
        flex-direction: row-reverse;
    }
}
@media screen and (max-width: 550px) {
    .setlist-right span {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .setlist-item {
        padding: 15px;
    }
}
@media screen and (max-width: 450px) {
    .song-name {
        font-size: 36px;
    }
    .song-name-bracket {
        font-size: 24px;
    }
    .setlist-left h3 {
        font-size: 16px;
    }
    .setlist-left p, .setlist-desc {
        font-size: 14px;
    }
    .setlist-title {
        gap: 10px;
    }
    .setlist-right button {
        padding: 0px 5px;
    }
    .setlist-right p {
        font-size: 14px;
        padding: 5px 10px;
    }
    .setlist-right dl {
        top: 15px;
    }
    .setlist-right dt, .setlist-right dd {
        font-size: 14px;
    }
}



/*******************************
Credits tables
*******************************/
#credits-table dd {
    margin: 0;
}
#credits-table {
    column-count: 4;
    column-gap: 20px;
    padding: 50px;
}
.credits-group {
    break-inside: avoid;
    margin-bottom: 20px;
}

.credits-group h3 {
    border-top: 2px solid rgba(129, 182, 170, 0.5);
    border-bottom: 2px solid rgba(129, 182, 170, 0.5);
    padding: 5px 0px;
    margin-bottom: 5px;
    text-align: center;
    color: rgb(211, 211, 211);
}
.credits-group p {
    letter-spacing: -0.5px;
    color: #6ba1ad;
    text-align: center;
    text-wrap: nowrap;
}

#credits-execs {
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.05);
}
#credits-execs span {
    color: #6ba1ad;
}


@media screen and (max-width: 900px) {
    #credits-table {
        column-count: 3;
    }
}
@media screen and (max-width: 700px) {
    #credits-table {
        column-count: 2;
    }
}
@media screen and (max-width: 500px) {
    #credits-table {
        padding: 15px;
        padding-bottom: 50px;
    }
    .credits-group h3 {
        font-size: 16px;
    }
    .credits-group span, #credits-execs {
        font-size: 14px;
    }
}
